@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: #659dbd;
    width: 0;
    height: 100%;
    position: fixed;
    overflow: auto;
    transition: 0.75s;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding:0;
    
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
    display: block; 
    transition: 0.3s;
    padding: 30px;
}
.sidebar nav li a.active{
    background-color: rgb(85, 239, 85);
    color: white;
}
.sidebar nav li a:hover:not(.active){
    background-color: #263f4e;
    color: black;
}
.sidebar .closebutton{
    position: absolute;
    top: 0;
    right: 16%;
    font-size: 36px;
    margin-left: 50px;
}
.main{
    /*background-color: orange;*/
    width: 100%;
    margin-left: 0;
    height: 100%;
}
.container{
    display:flex;
}
.infocontainer{
    /*background-color: pink;*/
    width: 100%;
    height: 55vh;
    margin: 123px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
    width: 50vh;
    height: 55vh;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.about{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.moreabout{
    font-size: 19px;
    margin-top: 3px;;
    font-family: 'Poppins', sans-serif;
}
.buttons{
    margin: 8px 0px;
}
.buttons button{
    font-size: 20px;
    background-color: black;
    color: white    ;
    padding:5px 9px;
    border-radius: 22px;
    margin: 0 4px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: black;
}

/* contact page css from here*/

.contactform{
    margin: 5%;
    font-size: 30px;
}
input{
    width: 250px;
    height: 20px;
    padding: 7px 3px;
    background-color: rgb(255, 255, 255);

}